  .card {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.amount {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.change {
    font-size: 1rem;
}

.text-danger {
    color: #dc3545 !important;
}

.text-success {
    color: #28a745 !important;
}
highcharts-chart {
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  

  